<table>
	<tr>
		<td>Estadística</td>
		<td>Valor</td>
	</tr>
	<tr>
		<td>Total de preguntas</td>
		<td><%= estadisticas.totalPreguntas%></td>
	</tr>
	<tr>
		<td>Total de comentarios</td>
		<td><%= estadisticas.totalComentarios%></td>
	</tr>
	<tr>
		<td>Comentarios por pregunta</td>
		<td><%= estadisticas.comentariosPorPregunta%></td>
	</tr>
	<tr>
		<td>Total de preguntas con comentarios</td>
		<td><%= estadisticas.preguntaConComentarios%></td>
	</tr>
	<tr>
		<td>Total de preguntas sin comentarios</td>
		<td><%= estadisticas.preguntaSinComentarios%></td>
	</tr>		
</table>